* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: cursive;
}

body {
    background-color: #d9dcd6;
}

.links {
    padding: 20px;
    background-color:grey;
    color: #ffffff;
}

.links h1 {
    display: inline-block;
    font-size: 48px;
}

.links nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.links nav ul {
    list-style-type: none;
}

.links nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.alinks:hover {
    color: yellow;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

main {
    background-color: grey;
}

p {
    float: right;
}

.content {
    display: inline-block;
    margin: 20%;
}

.main-info {
    padding: 10px;
    height: 200px;
    font-family: cursive;
    background-color:grey;
    color: #ffffff;
}

.main-info img {
    max-height: 200px;
    max-width: 200px;
    padding: 10px;
    background-color: grey;
}

.main-info h2 {
    margin-bottom: 15px;
    font-size: 30px;
    padding: 10px;
    background-color: grey;
    width: 30%;
}

footer {
    text-align: center;
    font-family: cursive;
    background-color: grey;
    padding: 10px;
}