* {
    box-sizing: border-box;
    color: white;
    font-family: cursive;
}

body {
    background-color: whitesmoke
}



.links {
    padding: 20px;
    background-color:cornflowerblue;
    color: #ffffff;
}

.links h1 {
    display: inline-block;
    font-size: 48px;
}

.links nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.links nav ul {
    list-style-type: none;
}

.links nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.links nav ul li:hover {
    background-color: salmon;
}

.wrap {
    width: 100%;
    display: flex;
    align-items: space-around;
    justify-content: center;
}
.tiles:hover {
    background-color: darkgray;
}

.tiles {
    width: 600px;
    height: 600px;
    margin: 10px;
    background-color: grey;
    position: relative;
    color: white;
    font-family: cursive;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.tiles img {
  height: 65%;
}

.tiles .text {
    position:absolute;
    padding:30px;
    height:95%
}

.tiles h1 {
    font-weight: 400;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(red, green, blue, alpha);  
}

.tiles h2 {
    font-weight: 100;
    margin: 20px;
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
}

a {
    text-decoration: none;
}

/*a:first-child {
    width:50%
}*/

footer {
    text-align: center;
    background-color:cornflowerblue;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .wrap {
        flex-direction: column;
    }
}